E2B_API_KEY=e2b_xxx
E2B_API_URL=https://api.us-west-1.e2b.fc.aliyuncs.com
E2B_DOMAIN=us-west-1.e2b.fc.aliyuncs.com
E2B_TEMPLATE=code-interpreter-v1
E2B_TIMEOUT=300


# --- LLM ---
MODEL=qwen3.7-plus
OPENAI_API_KEY=sk-xxx
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
